#entire_wrapper{
    /* border: 5px solid orchid; */
    border-radius: 10px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row_wrapper{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
    align-items: center;
}
.inbox{
    width: 30%;
    height: 100%;
    margin: 5px;
    background-color: orchid;
    border-radius: 5px;
}