* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }
#all_conatiner{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 400px;
    justify-content: space-around;
}
#bank_introduce{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 500px;
    height: 400px;
}
.describe1{
    font-size: 40px;
    font-weight: bold;
}
.describe2{
    margin-top: 20px;
    margin-bottom: 10px;
}
#bank_wrapper{
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 400px;
}
.bank_kb{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    height: 70px;
    /* border: 1px solid orange; */
    border-radius: 10px;
    box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
                0 4px 24px 0 rgba(0, 0, 33, 0.05),
                0 0 1px 0 rgba(0, 0, 33, 0.09) ;
}
.bank_logo{
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bank_title{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.account{
    width: 32%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    font-weight: bold;
}
.bank_img{
    width: 30px;
    height: 30px;
}